{% extends "base.html" %}

{% load i18n %}

{% block title %}
Logout
{% endblock %}

{% block content %}
<h2>{% trans "Log out" %}</h2>

<p>{% trans 'Are you sure you want to Log out?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button type="submit" class="btn btn-success">{% trans 'Log out' %}</button>
</form>


{% endblock %}
